<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario reservas alojamiento</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Formulario para crear una reserva de alojamiento</h1>
        <form th:action="@{'/reservasAlojamiento/editar/' + ${reserva.id} + '/guardar'}" method="post" th:object="${reserva}">
            <div class="form-group">

                <label for="fecha_entrada">Fecha de entrada</label>
                <input type="date" class="form-control" id="fecha_entrada" name="fecha_entrada" placeholder="Fecha de entrada" required th:value="${reserva.fecha_entrada}" >

                <label for="fecha_salida">Fecha de salida</label>
                <input type="date" class="form-control" id="fecha_salida" name="fecha_salida" placeholder="Fecha de salida" required th:value="${reserva.fecha_salida}" >
                
                <label for="cedula_cliente">Cedula del cliente</label>
                <input type="number" class="form-control" id="cedula_cliente" name="cedula_cliente" placeholder="Cedula del cliente" required th:value="${reserva.cedula_cliente}" >

                <label for="numero_acompaniantes">Numero de acompaniantes</label>
                <input type="number" class="form-control" id="numero_acompaniantes" name="numero_acompaniantes" placeholder="Numero de acompaniantes" required th:value="${reserva.numero_acompaniantes}" >

                <label for="habitacion_asociada">Habitacion asociada</label>
                <input type="number" class="form-control" id="habitacion_asociada" name="habitacion_asociada" placeholder="Habitacion asociada" required th:value="${reserva.habitacion_asociada}" >

                <label for="estado_reserva">Estado de la reserva</label>
                <select class="form-control" id="estado_reserva" name="estado_reserva" required>
                    <option value="RESERVADA" th:selected="${reserva.estado_reserva eq 'RESERVADA'}">RESERVADA</option>
                    <option value="ACTIVA" th:selected="${reserva.estado_reserva eq 'ACTIVA'}">ACTIVA</option>
                    <option value="FINALIZADA" th:selected="${reserva.estado_reserva eq 'FINALIZADA'}">FINALIZADA</option>
                </select>

                <label for="saldo_actual">Saldo actual</label>
                <input type="number" class="form-control" id="saldo_actual" name="saldo_actual" placeholder="Saldo actual" required th:value="${reserva.saldo_actual}" >
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>